.header {
  background-color: #666;
  color: #fff;
  height: 50px;
}

body {
	padding: 0;
	margin: 0;
}

.clearBoth {
	clear: both;
}

.pageContent {
	margin-top: 30px;
	margin-left: 10px;
}

.pageText {
	
}

.footer {
	clear: both;
	text-align: center;
	width: 100%;
	background: #f2f2f2;
	border: 1px solid #e4e4e4;
	height: 125px;
	padding: 15px;
	bottom: 0;
    left: 0;
    position: absolute;
}

.footer span{
	font-weight: bold;
}

.contactUs {
	float: right;
	padding-right: 20px;
}

.logo, .contactUs {
	padding-top: 12px;
}

.logo {
	float: left;
	padding-left: 15px;
}

.leftContent,
.rightContent {
	float: left;
	height: 300px
}


.leftContent {
	width: 23%;
	margin-right: 10px;
	border: 2px solid;
}

.rightContent {
	width: 75%;
	border: 1px solid #e4e4e4;
	background: #f2f2f2;
	padding: 20px;
	color: #666;
}

.searchTitle {
	font-size: 25px;
	font-weight: bold;
	font-family: Trebuchet MS;
}

.searchContentText {
	padding: 15px 0;
}
.searchTextBox input[type='text'] {
	width: 75%;
	height: 52px;
	float: left;
}

.searchButton {
	height: 52px;
	color: #666 !important;
	border-radius: 0 !important;
}

.advancedSearchLink {
	margin-top: 10px;
	cursor: pointer;
}

.advancedSearchLink .link{
	margin-left: 10px;
	color: #336699;
	text-decoration-color: #336699;
}

.advancedSearchLink {
	text-decoration: none;
}

.advancedSearchLink:hover {
	text-decoration: underline;
	text-decoration-color: #336699;
}

.searchDetailsPage{
	margin-top: 20px;
	padding: 20px;
}